SERVER_POSTGRES_HOST=localhost
SERVER_POSTGRES_PORT=5432
SERVER_POSTGRES_USER=postgres
SERVER_POSTGRES_PASSWORD=12345678
SERVER_POSTGRES_NAME=server_db

SERVER_ADMINISTRATION_HOST=localhost
SERVER_ADMINISTRATION_PORT=10002

SERVER_GRPC_ADMINISTRATION_PORT=50052